<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        {% block title %}
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Bootstrapの読み込み -->

        {% block script_block %}
        {% endblock %}
    </head>
    <body>
        <!-- link -->
        <div class="col-12 col-lg-2">
        <!-- <div class="col-12 col-lg-2" style="margin:2rem 0rem 0rem 0rem;"> -->
            {% include 'common/sidebar.vue'%}
        </div>
        <!-- /link -->
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <div>
            <a href="{{request.META.HTTP_REFERER}}">前のページに戻る</a>
        </div>
    </body>
</html>